@page
@model NET_Projekt.Pages.EditUserModel
@{
	ViewData["Title"] = "Edytuj użytkownika";
}

<div class="form-container">
	<form method="post">
		@Html.ValidationSummary("", new { @class = "fw-bold text-danger" })
		<input asp-for="SelectedUser.Id" type="hidden" value="@Model.SelectedUser.Id" />
		<div>
			<label asp-for="SelectedUser.FirstName">Imię</label>
			<input asp-for="SelectedUser.FirstName" value="@Model.SelectedUser.FirstName" class="form-control" />
		</div>
		<div>
			<label asp-for="SelectedUser.LastName">Nazwisko</label>
			<input asp-for="SelectedUser.LastName" value="@Model.SelectedUser.LastName" class="form-control" />
		</div>
		<div>
			<label asp-for="SelectedUser.Email">Email</label>
			<input asp-for="SelectedUser.Email" type="email" value="@Model.SelectedUser.Email" class="form-control" />
		</div>
		<div>
			<label asp-for="SelectedUser.Password">Hasło</label>
			<input asp-for="SelectedUser.Password" type="password" value="" class="form-control" />
		</div>
		<div>
			<label asp-for="SelectedUser.ConfirmPassword">Powtórz hasło</label>
			<input asp-for="SelectedUser.ConfirmPassword" type="password" value="" class="form-control" />
		</div>
		<div>
			<label asp-for="SelectedUser.Role">Rola</label>
			<select asp-for="SelectedUser.Role" class="mt-2">
				<option value="">Wybierz rolę</option>
				@if(Model.SelectedUser.Role == "Student")
				{
					<option value="Student" selected>Student</option>
					<option value="Wykładowca">Wykładowca</option>
				}
				else if(Model.SelectedUser.Role == "Wykładowca")
				{
					<option value="Student">Student</option>
					<option value="Wykładowca" selected>Wykładowca</option>
				}
			</select>
		</div>
		<div class="text-center mt-3">
			<button type="submit" class="btn btn-success">Edytuj użytkownika</button>
			<a asp-page="Users" class="btn btn-primary">Powrót</a>
		</div>
	</form>
</div>